@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*--General--*/

body {
    font-family: "Sriracha", cursive;
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

@media (max-width: 979px) {
  body {
    padding-top: 30px;
    padding-bottom: 200px;
  }
}

/*--Header--*/

.navbar--color {
    background-color: #e9ecef;
}

a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
}

nav a:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

/*--Callout--*/
/*--Taken and modified from CSS tricks--*/
.callout-container {
    height: 75vh;
    color: #007bff;
    z-index: 4;

    background: url("../images/taekwondo-kick.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width: 100px) and (max-width: 700px) {
  .callout-container {
    background: url("../images/photo1.jpg") no-repeat center center fixed;
  }
}

/*--Jumbotron--*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-weight: bold;
}

.jumbotron small {
    font-style: italic;
    color: rgb(255,0,0);
}

@media screen and (min-width: 100px) and (max-width: 700px) {
  .table td, .table th {
    padding: 5px;
    vertical-align: top;
}
}

/*--About--*/

.about-container {
    padding: 35px 10px;
    background-color: #b2c1d1;
    width: 100%;
}

.about-container img {
    float: left;
    padding: 10px 10px;
    max-width: 100%;
}

.about-container p {
    padding: 10px 10px;
}

/*--Footer--*/

footer {
    background-color: #e9ecef;
    min-height: 100px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.social-links {
    padding-bottom: 10px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: rgb(0, 17, 255);
    background: #5f5f5fb7;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.social-links li a i:hover {
    color: rgb(255, 0, 0);
}

/*--Opening Times--*/

.opening-times-container {
    padding: 25px 10px;
    background-color: #b2c1d1;
}

/*--Sign Up--*/

.signup-form-color {
    background-color: #b2c1d1;
}

.form-heading {
    margin-top: 35px;
    margin-bottom: 35px;
}

.center-form {
    padding-top: 15px;
    margin: 0 auto;
    max-width: 50%;
}

input[type="radio"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
}

input[type="submit"] {
    margin-bottom: 20px;
}

/*-- Photos --*/

.media {
    display: inline-flex;
    align-items: flex-start;
}

#photos {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#photos img {
    width: 100%;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.photo-column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 5px;
    margin: 0 auto;
}

.photo-column img {
    vertical-align: middle;
    width: 100%;
    padding: 5px  5px;
}

@media screen and (max-width: 600px) {
    .photo-column {
        flex: 100%;
        max-width: 1000%;
    }
}