@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*--General--*/

body {
    font-family: "Sriracha", cursive;
}

/*--Header--*/

.navbar--color {
    background-color: #e9ecef;
}

a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
}

nav a:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

/*--Callout--*/

.callout-container {
    height: 75vh;
    color: rgb(0, 17, 255);

    background: url("../images/taekwondo-kick.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--Jumbotron--*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-weight: bold;
}

.jumbotron small {
    font-style: italic;
    color: #fff;
}

/*--Footer--*/

footer {
    background-color: #e9ecef;
    min-height: 100px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.social-links {
    padding-bottom: 10px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: rgb(0, 17, 255);
    background: #5f5f5fb7;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.social-links li a i:hover {
    color: rgb(255, 0, 0);
}

/*--Sign Up--*/

.signup-form-color {
    background-color: #b2c1d1;
}

.form-heading {
    margin-top: 35px;
    margin-bottom: 35px;
}

.center-form {
    padding-top: 15px;
    margin: 0 auto;
    max-width: 50%;
}

input[type="radio"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
}

input[type="submit"] {
    margin-bottom: 20px;
}

/*-- Photos --*/

#photos {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#photos img {
    width: 100%;
}